@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sn : "SN Pro", sans-serif;
    --color-primary: #1C4D8D;
    --color-secondary: #164E63;
}

@theme {
    --animate-slide-in: slide-in 1.5s ease-in-out;
    
    @keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }

}
